h1 {
  color: #73C436;
  text-align: center;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

p {
  color: #c9c2b9;
  text-align: center;
}

body {
  background-color: #393433;
}

h2 {
  color: #904b34;
  text-align: center;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
