h1 {
  color: #73C436;
  text-align: center;
}

body {
  background-color: black;
}

p1 {
  color: #67503A;
  text-align: center;
}

img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
