h1 {
  color: #73C436;
  text-align: center;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

p {
  color: #41444c;
}

body {
  background-color: black;
}

p1 {
  color: #67503A;
  text-align: center;
}

h2 {
  color: #904b34;
  text-align: center;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
